:root {
  --bg-color: #F9F8F3;
  --text-color: #1A1C19;
  --text-color-secondary:rgb(88, 88, 88);
  --primary-color: #8DA189;
  --border-color: #e5e7eb;
  --bg-color-elements:#EAE8E0;
  --success-color:rgb(5, 185, 5);
  --success-color-text:#111111;
  --border-default:rgb(88, 88, 88);
  --primary-hover: #8d8df1;
  --success-color-tonal:rgb(151, 241, 151);

  --button-text: #F9F8F3;

  --red-dot: rgb(255, 91, 91);


  //material-colors
  --primary-color-t0: #000000;
  --primary-color-t1: #0F1F0F;
  --primary-color-t2: #233522;
  --primary-color-t3: #394B38;
  --primary-color-t4: #51634E;
  --primary-color-t5: #697C66;
  --primary-color-t6: #82967F;
  --primary-color-t7: #9DB198;
  --primary-color-t8: #D3E8CE;
  --primary-color-t9: #E1F7DC;
  --primary-color-t10: #FFFFFF;

  --secondary-color:#B6C9D7;
  --secondary-color-t0:#000000;
  --secondary-color-t1:#0B1D28;
  --secondary-color-t2:#21323D;
  --secondary-color-t3:#384955;
  --secondary-color-t4:#4F616D;
  --secondary-color-t5:#687986;
  --secondary-color-t6:#8193A0;
  --secondary-color-t7:#9BAEBB;
  --secondary-color-t8:#B6C9D7;
  --secondary-color-t9:#D2E5F3;
  --secondary-color-t10:#E4F3FF;
}

.dark {
  --bg-color: #121411;
  --text-color: #d4c5b2;
  --text-color-secondary:rgb(155, 155, 155);
  --primary-color: #B8CCB3;
  --border-color: #1e293b;
  --bg-color-elements:#292B27;
  --success-color:rgb(4, 216, 4);
  --success-color-text:#111111;
  --border-default:rgb(155, 155, 155);
  --primary-hover: #35355c;
  --success-color-tonal:rgb(26, 56, 26);

  --button-text : #263725;

  --red-dot: rgb(110, 0, 0);

  --primary-color-t10: #000000;
  --primary-color-t9: #0F1F0F;
  --primary-color-t8: #233522;
  --primary-color-t7: #394B38;
  --primary-color-t6: #51634E;
  --primary-color-t5: #697C66;
  --primary-color-t5: #82967F;
  --primary-color-t4: #9DB198;
  --primary-color-t2: #D3E8CE;
  --primary-color-t1: #E1F7DC;
  --primary-color-t0: #FFFFFF;

  --secondary-color:#5A6B5C;
  --secondary-color-t10:#101F13;
  --secondary-color-t9:#243427;
  --secondary-color-t8:#3A4B3D;
  --secondary-color-t7:#526354;
  --secondary-color-t6:#6A7B6C;
  --secondary-color-t5:#839585;
  --secondary-color-t4:#9EB09F;
  --secondary-color-t3:#B9CBB9;
  --secondary-color-t2:#D5E7D5;
  --secondary-color-t1:#E3F6E3;
  --secondary-color-t0:#FFFFFF;
}