@import './themes';

.family {
    display: flex;
    flex-direction: column;
    &--info {
        padding: 20px;
        &--name {
            color: var(--primary-color);
        }
    }
    &--balance {
        padding: 20px;
        &--card {
            margin-top: 5px;
            border-radius: 10px;
            &--monyeline{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &--icon {
                    background-color: var(--secondary-color);
                    padding: 5px;
                    font-size: 32px;
                    border-radius: 10px;
                }
            }
            &--checkpoint {
                margin-top: 10px;
                background-color: var(--secondary-color);
                border-radius: 5px;
                padding: 10px;
            }
            
        }
    }
    &--stock {
        margin-top: 10px;
        display: flex;
        max-height: 200px;
        &--block { 
            width: 50%;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: start;

            &--icon {
                font-size: 32px;
            }

            &--need {
                color: var(--primary-color-t5);
                background-color: var(--primary-color-t8);
                margin-right: 5px;
                &--dot{
                    height: 7px;
                    width: 7px;
                    border-radius: 50%;
                    background-color: var(--red-dot);
                    margin-right: 5px;
                }
                &--span {
                    border-bottom:solid thin var(--primary-color-t5) ;
                    &:hover {
                        cursor: pointer;
                    }
                }
                
            }
            &--empty {
                color:var(--secondary-color-t5);
                background-color: var(--secondary-color-t8);
                margin-left: 5px;
                &--dot {
                    height: 7px;
                    width: 7px;
                    border-radius: 50%;
                    background-color: var(--secondary-color-t9);
                    margin-right: 5px; 
                }
                &--span {
                    border-bottom:solid thin var(--primary-color-t5) ;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
        }
        
    }
    &--wishlist {
        padding: 20px;
        background-color: var(--secondary-color-t8);
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}