@import './themes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  transition: background 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}